@import url('./backgound.css');

* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.hidden { 
    display: none;
}



.login-error{
    color: red;
}

h1{
    font-size: 50px;
    margin-bottom: 20px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    width: 20rem;
    height: 3rem;
}

#content-div{
    position: absolute;
    background-color: aliceblue;
    border: 3px solid gray;
    top: 25%;
    width: 430px;
    height: 370px;
    text-align: center;
    border-radius: 15px;
}

.center-div{
    display: flex;
    justify-content: center;
}

.row-div{
    align-items:center;
    display: inline-flex;
    width: 80%;
}

.input-button{
    border-radius: 10px;
    width: 90%;
    height: 1rem;
    border: solid 3px #4CAF50;
    background-color: #def5de;
    padding: 15px;
}

.fill{
    text-align: left;
    box-sizing: border-box;
    width: 80%;
    margin: auto;
}

.names{
    width: 75%;
}
.back{
    color: rgb(0, 191, 255);
    background-color: transparent;
    position: absolute;
    padding-left: 40px;
    padding-top: 0px;
    font-size: 40px;
    margin-top: 0px;
    text-align: center;
}